<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../csv files/createproject.csv" />

<body>
    <%- include('../partials/nav.ejs') %>


    <div class="AddProjects">
         <form action="/ProfilePage" method="POST"> 
          <label for="title">Project Name:</label>
          <input type="text" id="title" name="title" required > 
          <label for="idea">Ideation: </label>
          <input type="text" id="idea" name="idea" required>
          <label for="skill">Skills: </label>
          <input type="text" id="skill" name="skill" required>
          <label for="drivelink">Link:</label>
          <input type="url" id="drivelink" name="drivelink">
          <label for="gitlink">github Link:</label>
          <input type="url" id="gitlink" name="gitlink">
          <label for="image">Image:</label>
          <input type="image" id="image" name="image">
          <label for="video">Video</label>
          <input type="file" accept="video/*" id="video" name="video">
          <label for="password">Password: </label>
          <input type="password" id="password" name="password" required>
          <button>Submit</button>
        </form>
      </div>
    <%- include('../partials/footer.ejs') %>

</body>
</html>