<html lang="en">
<%- include("../partials/head.ejs") %>
<link rel="stylesheet" href="../csv files/projectdetails.csv" />

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">

    <!-- <h2><%= myproject.title %></h2>
    skill, idea, gitlink,drivelink, image,video -->

        
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>


